worker_processes  8;
error_log /dev/stdout error;

events {
    worker_connections 1024;
}

http {
    default_type application/octet-stream;
    keepalive_timeout 65;
    sendfile on;

    access_log /dev/stdout;

    # resolver-cache definition
    proxy_cache_path /var/cache/nginx/resolver
                     levels=1:2 keys_zone=resolver-cache:8m
                     max_size=1g inactive=1h use_temp_path=off;

{% if resolver_cache_enabled %}
    # data-cache definition
    proxy_cache_path /var/cache/nginx/data
                     levels=1:2 keys_zone=data-cache:32m
                     max_size={{ resolver_cache_capacity }} inactive={{ resolver_cache_expiration_time }} use_temp_path=off;

{% endif %}
    server {
        listen 8080;
        resolver 127.0.0.11 ipv6=off;

{% if resolver_cache_enabled %}
        # cached resources
        location / {
            proxy_pass http://127.0.0.1:8082$uri;
            proxy_intercept_errors on;
            error_page 301 307 = @cacher;
        }

        location @cacher {
            set $target $upstream_http_location;

{% if resolver_cache_kind == 'slice' %}
            slice {{ resolver_cache_slice_size }};

            proxy_set_header Range $slice_range;
{% endif %}
            proxy_http_version 1.1;
            proxy_pass $target;

            add_header X-Cache-Status $upstream_cache_status;

            # custom cache config
            proxy_cache data-cache;
{% if resolver_cache_kind == 'slice' %}
            proxy_cache_key $request_method+$target+$slice_range;
{% else %}
            proxy_cache_key $request_method+$target;
{% endif %}
            proxy_cache_valid 200 206 24h;
            proxy_cache_convert_head off;
            proxy_cache_lock on;
            proxy_cache_lock_timeout 0s;
            proxy_cache_lock_age 2h;
        }
    }

    server {
        listen 8082;
        resolver 127.0.0.11 ipv6=off;

{% endif %}
        # custom cache config
        proxy_cache resolver-cache;
        proxy_cache_key $request_method+$scheme+$proxy_host$request_uri+$http_authorization;
        proxy_cache_valid 301 307 30m;
        proxy_cache_convert_head off;
        proxy_cache_lock on;

        add_header X-Cache-Status $upstream_cache_status;

        {% if eaas_deployment_mode == 'emucomp' %}
            {%- set baseurl = eaas_protocol + eaas_gw_hostname + eaas_base_url_port %}
        {%- else %}
            {%- set baseurl = 'http://eaas:8080' %}
        {% endif -%}

        # case: emulator-images
        location ~* /emulators/(?<imgid>.+)$ {
            proxy_pass {{ baseurl }}/emil/emulator-repository/images/$imgid/url$is_args$args;
        }

        # case: images
        location ~* ^/images/(?<imgid>.+)$ {
            proxy_pass {{ baseurl }}/emil/environment-repository/images/$imgid/url$is_args$args;
        }

        # case: roms
        location ~* ^/roms/(?<imgid>.+)$ {
            proxy_pass {{ baseurl }}/emil/environment-repository/roms/$imgid/url$is_args$args;
        }

        # case: objects
        location ~* ^/objects/(?<archive>[^/]+)/(?<object>[^/]+)/(?<subres>.+)$ {
            proxy_pass {{ baseurl }}/emil/object-repository/archives/$archive/objects/$object/resources/$subres/url$is_args$args;
        }

        # case: component-resources
        location ~* /components/(?<compid>[^/]+)/(?<kind>[^/]+)/(?<subres>.+)$ {
            proxy_pass {{ baseurl }}/emil/components/$compid/$kind/$subres/url;
        }

        # case: resources with embedded access-tokens
        location ~* ^/t/(?<token>[^/]+)/(?<subres>.+)$ {
            proxy_cache_key $request_method+$scheme+$proxy_host$request_uri;
            {% set proxyport = '8082' if resolver_cache_enabled else '8080' -%}
            proxy_pass http://127.0.0.1:{{ proxyport }}/$subres$is_args$args;
            proxy_set_header Authorization "Bearer $token";
        }
    }
}
