proxy_cache_path {{ eaas_http_cache_path | default("/home/bwfla/image-archive/cache", true) }} keys_zone=mycache:100m max_size={{ eaas_http_proxy_cache_size | default("10g", true) }} inactive=1y;

server {
    listen       8888;

    proxy_cache mycache;
    slice              10m;
    proxy_cache_key    $host$uri$slice_range;
    proxy_set_header   Range $slice_range;
    proxy_http_version 1.1;
    proxy_cache_valid  200 206 1y;
    proxy_cache_revalidate on;

    location / {
        resolver {{ eaas_resolver | default("8.8.8.8") }} ipv6=off; # may or may not be necessary.
        proxy_pass http://$http_host$uri$is_args$args;
        proxy_intercept_errors on;
        error_page 302 303 = @handler;
    }

    location @handler {
        resolver {{ eaas_resolver | default("8.8.8.8") }} ipv6=off; # may or may not be necessary.
        set $saved_redirect_location '$upstream_http_location';
        proxy_pass $saved_redirect_location;
    }
}
