#!/usr/bin/env sh

set -eu

kcadm='docker exec -i keycloak /opt/jboss/keycloak/bin/kcadm.sh'
client_id='a8f1df16-de41-4dac-8cc7-35abbee912c6'

__connect_and_login() {
	docker ps | grep --quiet keycloak || return 1
	${kcadm} config credentials \
		--server http://keycloak:8080/auth \
		--user "{{ keycloak_admin_user }}"\
		--password "{{ keycloak_admin_password }}" \
		--realm master
}

retries=120
while ! __connect_and_login; do
	retries=$((${retries} - 1))
	test "${retries}" -gt 0 || exit 1
	sleep 1s
done

echo "Updating client's properties..."
${kcadm} update clients/${client_id} --merge -s 'enabled=true' \
	-h 'content-type=application/json' -f - << "EOF"
{
	"standardFlowEnabled": true,
	"rootUrl": "{{ eaas_base_url }}",
	"adminUrl": "{{ keycloak_frontend_url }}",
	"redirectUris": [
{% if eaas_devmode_enabled %}
		"http://localhost:8080/*",
		"http://localhost:8084/*",
{% endif %}
		"{{ eaas_base_url }}/*"
	],
	"webOrigins": [
{% if eaas_devmode_enabled %}
		"http://localhost:8080",
		"http://localhost:8084",
{% endif %}
		"{{ eaas_base_url }}"
	]
}
EOF

echo "Keycloak's config updated"
