{% if docker_ssl_enabled %}
frontend=*,443
{% else %}
frontend=*,80;no-tls
{% endif %}

{% set eaas_endpoints = [
			'blobstore',
			'dig-pub-sharing',
			'eaas',
			'emil',
			'emucomp',
			'environment-proposer',
			'imagearchive',
			'imagebuilder',
			'imageclassifier',
			'imageproposer',
			'oaipmh',
			'objectarchive',
			'softwarearchive'
] %}
{% for endpoint in eaas_endpoints %}
backend=127.0.0.1,8080;/{{endpoint}}/
{% endfor %}

{% if minio_enabled %}
backend=minio,9000;/user-data/
{# add routes for minio-gateways... #}
{% for provider in eaas_imagearchive_storage %}
{% set name = 'minio-gw-' + loop.index | string %}
{% for bucket in provider.buckets %}
backend={{ name }},9000;/{{ bucket.name }}/
{% endfor %}
{% endfor %}
{% endif %}

backend=nginx,80;

{% if keycloak_enabled %}
backend=keycloak,8080;/auth/
{% endif %}
backend-no-tls=yes
workers=1

{% if docker_ssl_enabled %}
private-key-file=/etc/nghttpx/server.key
certificate-file=/etc/nghttpx/server.crt
{% endif %}

frontend-http2-read-timeout=120m
frontend-read-timeout=120m
backend-read-timeout=120m
add-x-forwarded-for=yes

