{% if docker_ssl_enabled %}
frontend=*,{{ eaas_public_port }}
{% if docker_ssl_terminated %}
frontend=*,{{ eaas_nossl_port }};no-tls
{% endif %}
{% else %}
frontend=*,{{ eaas_public_port }};no-tls
{% endif %}

{% for endpoint in eaas_endpoints %}
backend=127.0.0.1,8080;/{{endpoint}}/
{% endfor %}

{% if minio_enabled %}
backend=minio,9000;/image-archive/
backend=minio,9000;/user-data/
{# add routes for default minio... #}
{% for storage in eaas_imagearchive_storage if storage.provider == 'minio' %}
{% for bucket in storage.locations | map(attribute='bucket') | unique %}
backend=minio,9000;/{{ bucket }}/
{% endfor %}
{% endfor %}
{# add routes for minio-gateways... #}
{% for storage in eaas_imagearchive_storage if storage.provider != 'minio' %}
{% set name = 'minio-gw-' + loop.index | string %}
{% for location in storage.locations %}
backend={{ name }},9000;/{{ location.bucket }}/
{% endfor %}
{% endfor %}
{% endif %}

# FIXME: assume local object-archives for now
{% for backend in eaas_objectarchive_backends if backend.type == 'S3' %}
backend=minio,9000;/{{ backend.bucket }}/
{% endfor %}

{% if ui_enable_admin_ui or ui_landing_page %}
backend=nginx,80;
{% else %}
# catch-all backend
backend=localhost,9999;
{% endif %}

{% if keycloak_enabled %}
backend=keycloak,8080;/auth/
{% endif %}
backend-no-tls=yes
workers=1

{% if docker_ssl_enabled %}
private-key-file=/etc/nghttpx/server.key
certificate-file=/etc/nghttpx/server.crt
{% endif %}

frontend-http2-read-timeout=120m
frontend-read-timeout=120m
backend-read-timeout=120m
add-x-forwarded-for=yes

