---
state_dir: '/work/state'
target_dir: '/work/target'
docker_compose:
  project: eaas
  services:
  - nginx
  - eaas
channels:
{{ operator_channels | to_nice_yaml(indent=2) }}
{%- if operator_credentials != '' -%}
credentials:
{{ operator_credentials | to_nice_yaml(indent=2) }}
{% endif %}
