  caddy:
    container_name: caddy
    image: registry.gitlab.com/emulation-as-a-service/experiments/caddy-eaas
    networks:
      eaasi:
        aliases:
          - {{ eaas_hostname }}
    ports:
      - {{ eaas_public_port }}:{{ eaas_public_port }}
{% if eaas_public_port != '80' %} 
      - 80:80
{% endif %}     
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./caddy:/data
    labels:
      caddy_0.order: error last
      caddy_1: {{ eaas_base_url }} 
      caddy_1.redir: / /admin/
      caddy_1.error: 503
{% if eaas_dns.cf_token is defined %}
      caddy: "https://*.{{ eaas_hostname }}"
      caddy.tls.dns: lego_deprecated cloudflare
{% endif %} 
    environment:
{% if eaas_dns.cf_token is defined %}
      CLOUDFLARE_DNS_API_TOKEN: {{ eaas_dns.cf_token }}
{% endif %}
