version: "{{ docker_compose_file_version }}"

{% if docker_network_name != '' %}
networks:
  {{ docker_network_name }}:
    name: {{ docker_network_name }}
{% if docker_custom_network != '' %}
    external: true
{% endif %}

{% endif %}
services:
  
{% if operator_enabled %}
{% include 'operator-service.yaml.j2' %}    
{% endif %}

{% if keycloak_enabled %}
{% include 'keycloak-service.yaml.j2' %}  
{% endif %}

{% if coturn_enabled %}
{% include 'coturn-service.yaml.j2' %}
{% endif %}

{% include 'caddy-service.yaml.j2' %}

{% include 'nginx-service.yaml.j2' %}

{% include 'minio-services.yaml.j2' %}

{% include 'eaas-service.yaml.j2' %}

{% if not docker_disable_tmp_volume %}
volumes:
  tmpfs_vol:
    driver_opts:
      type: tmpfs
      device: tmpfs
{% endif %}