  keycloak:
    image: jboss/keycloak
    container_name: keycloak
{% if docker_network_name != '' %}
    networks:
    - {{ docker_network_name }}
{% endif %}
    environment:
      DB_VENDOR: h2
      KEYCLOAK_USER: {{ keycloak_admin_user}}
      KEYCLOAK_PASSWORD: {{ keycloak_admin_password }}
      KEYCLOAK_FRONTEND_URL: {{ keycloak_frontend_url }}/
      KEYCLOAK_ALWAYS_HTTPS: "{% if eaas_protocol == 'https://' %}true{% else %}false{% endif %}"
      PROXY_ADDRESS_FORWARDING: "true"

    command:
    - --server-config=standalone.xml
    - -Dkeycloak.migration.action=import
    - -Dkeycloak.migration.provider=singleFile
    - -Dkeycloak.migration.strategy=IGNORE_EXISTING
    - -Dkeycloak.migration.file=/run/keycloak/defaults.json

    labels:
      caddy: "https://{{ eaas_hostname }}"
      caddy.@keycloak.path: /auth /auth/*
      caddy.reverse_proxy: "@keycloak {%raw%}{{upstreams 8080}}{%endraw%}"
    
    volumes:
      - {{ keycloak_data_dir }}:/opt/jboss/keycloak/standalone/data
      - {{ keycloak_theme_dir }}:/opt/jboss/keycloak/themes/eaas
      - {{ keycloak_defaults_file }}:/run/keycloak/defaults.json:ro