  nginx:
    image: nginx
    container_name: nginx
    volumes:
      - {{ docker_image_archive_volume | default("./image-archive", true) }}:/image-archive:ro
      - ./eaas-ui:/www
      - ./config/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./config/nginx/proxy.js:/etc/nginx/proxy.js
      - ./welcome-content:/welcome-content
{% if ui_enable_admin_ui %}
      - ./config/admin-ui.json:/www/eaas-frontend-admin/dist/config.json:ro
{% endif %}
{% if ui_landing_page %}
      - ./config/admin-ui.json:/www/landing-page/dist/config.json:ro
{% endif %}
{% if docker_network_name != '' %}
    networks:
    - {{ docker_network_name }}
{% endif %}
    labels:
      caddy: "https://{{ eaas_hostname }}"
      caddy.@nginx.path: /admin /admin/*
      caddy.reverse_proxy: "@nginx {%raw%}{{upstreams 80}}{%endraw%}"